---
id: 534
title: The Alchemist, a novel by Paulo Coelho.
date: 2017-07-16T23:09:39+11:00
author: Andrew McKean
layout: post
guid: http://andrew9.com/?p=534
permalink: /alchemist-novel-paulo-coelho/
categories:
  - Learn English
---
### **The Alchemist**

<img class="size-medium wp-image-536 alignright" style="font-size: 1rem;" src="https://andrew9.com/wp-content/uploads/2017/07/Alchemist-300x143.png" alt="" width="300" height="143" srcset="https://andrew9.com/wp-content/uploads/2017/07/Alchemist-300x143.png 300w, https://andrew9.com/wp-content/uploads/2017/07/Alchemist.png 596w" sizes="(max-width: 300px) 100vw, 300px" /> 

The Alchemist  is a novel by Brazilian author Paulo Coelho, first published in 1988. Originally written in Portuguese, it became an international bestseller translated into some 70 languages as of 2016. An allegorical novel that follows a young Andalusian shepherd in his journey to Egypt, after having a recurring dream of finding treasure there.

Over the years there have been film and theatrical adaptations of the work and musical interpretations of it.

[Download a PDF](https://andrew9.com/wp-content/uploads/2017/07/Paulo_Coelho_-_The_Alchemist1.pdf)

<!--more-->

<div class="pdfprnt-buttons pdfprnt-buttons-post pdfprnt-bottom-left">
  <a href="http://?print=pdf" class="pdfprnt-button pdfprnt-button-pdf" target="_blank"><img src="https://andrew9.com/wp-content/plugins/pdf-print/images/pdf.png" alt="image_pdf" title="View PDF" /></a><a href="http://?print=print" class="pdfprnt-button pdfprnt-button-print" target="_blank"><img src="https://andrew9.com/wp-content/plugins/pdf-print/images/print.png" alt="image_print" title="Print Content" /></a>
</div>