---
id: 1100
title: The Pied Piper of Hamelin
date: 2018-02-12T00:13:10+11:00
author: Andrew McKean
layout: post
guid: https://andrew9.com/?p=1100
permalink: /pied-piper-hamelin/
ampforwp_custom_content_editor:
  - ""
ampforwp_custom_content_editor_checkbox:
  - ""
enclosure:
  - |
    https://andrew9.com/wp-content/uploads/2018/02/1226Pied.mp3
    26764563
    audio/mpeg
    
um_content_restriction:
  - 'a:8:{s:26:"_um_custom_access_settings";s:1:"0";s:14:"_um_accessible";s:1:"0";s:19:"_um_noaccess_action";s:1:"0";s:30:"_um_restrict_by_custom_message";s:1:"0";s:27:"_um_restrict_custom_message";s:0:"";s:19:"_um_access_redirect";s:1:"0";s:23:"_um_access_redirect_url";s:0:"";s:28:"_um_access_hide_from_queries";s:1:"0";}'
categories:
  - Learn English
---
The Pied Piper legend originated in Hamelin, Germany during the middle ages. As the story goes, the town was struggling with a rat infestation problem and was desperate for relief. A mysterious man in “pied clothing” approached the mayor and promised he could rid the city of its problem in return for payment of 1000 guilders. They mayor agreed, and the man played a magical pipe to lure all the city’s rats to a nearby body of water, where they drowned. When the Piper returned for his reward, the mayor refused. You can listen to the story here, narrated by David Tennant, from BBC Radio 4.<audio class="wp-audio-shortcode" id="audio-1100-2" preload="none" style="width: 100%;" controls="controls"><source type="audio/mpeg" src="https://andrew9.com/wp-content/uploads/2018/02/1226Pied.mp3?_=2" />

<https://andrew9.com/wp-content/uploads/2018/02/1226Pied.mp3></audio> 

<img class="alignnone size-medium wp-image-1103" src="https://andrew9.com/wp-content/uploads/2018/02/Pied-Piper-300x196.png" alt="" width="300" height="196" srcset="https://andrew9.com/wp-content/uploads/2018/02/Pied-Piper-300x196.png 300w, https://andrew9.com/wp-content/uploads/2018/02/Pied-Piper.png 556w" sizes="(max-width: 300px) 100vw, 300px" /> 

<div class="pdfprnt-buttons pdfprnt-buttons-post pdfprnt-bottom-left">
  <a href="http://?print=pdf" class="pdfprnt-button pdfprnt-button-pdf" target="_blank"><img src="https://andrew9.com/wp-content/plugins/pdf-print/images/pdf.png" alt="image_pdf" title="View PDF" /></a><a href="http://?print=print" class="pdfprnt-button pdfprnt-button-print" target="_blank"><img src="https://andrew9.com/wp-content/plugins/pdf-print/images/print.png" alt="image_print" title="Print Content" /></a>
</div>