---
id: 413
title: 'Learn English &#8211; Prime Minister Narendra Modi'
date: 2017-06-30T00:55:08+11:00
author: Andrew McKean
layout: post
guid: http://andrew9.com/?p=413
permalink: /prime-minister-narendra-modi/
categories:
  - Learn English
---
### **Prime Minister Narendra Modi **

Learn English by filling in the gaps:

Indian Prime Minister Narendra Modi _ responded to the infamous &#8220;Trump handshake&#8221; with _ own diplomatic tool of choice, the bear hug. A series of awkward greetings and handshakes between Mr Trump and other world leaders has left many wondering who could &#8220;_&#8221; his approach.  
But for many observers, Mr Modi, an experienced _, has outdone that.  
The Indian prime minister&#8217;s _ to hug global leaders goes back a long way.

<img class="size-medium wp-image-414 alignright" src="https://andrew9.com/wp-content/uploads/2017/06/bear-hug-300x151.png" alt="" width="300" height="151" srcset="https://andrew9.com/wp-content/uploads/2017/06/bear-hug-300x151.png 300w, https://andrew9.com/wp-content/uploads/2017/06/bear-hug.png 610w" sizes="(max-width: 300px) 100vw, 300px" /> He has been described as the most physically _ Indian leader in years&#8221;.

1. demonstrative, his, propensity, has, beat, hugger  
2. his, demonstrative, propensity, beat, hugger, has  
3. has, his, beat, hugger. demonstrative, propensity  
4. has, his, beat, hugger, propensity, demonstrative  
5. demonstrative, has, propensity, hugger, his, beat  
<!--more-->

<div class="pdfprnt-buttons pdfprnt-buttons-post pdfprnt-bottom-left">
  <a href="http://?print=pdf" class="pdfprnt-button pdfprnt-button-pdf" target="_blank"><img src="https://andrew9.com/wp-content/plugins/pdf-print/images/pdf.png" alt="image_pdf" title="View PDF" /></a><a href="http://?print=print" class="pdfprnt-button pdfprnt-button-print" target="_blank"><img src="https://andrew9.com/wp-content/plugins/pdf-print/images/print.png" alt="image_print" title="Print Content" /></a>
</div>