---
id: 367
title: Rihanna
date: 2017-06-27T22:34:34+11:00
author: Andrew McKean
layout: post
guid: http://andrew9.com/?p=367
permalink: /rihanna/
categories:
  - Learn English
---
### **Learn English &#8211; fill in the gaps:**

She&#8217;s _ global pop icon, they _ G20 leaders. So what happened when Rihanna tweeted some _ the world&#8217;s most powerful men _ talk about their commitment _ education _ the developing world?

1. are, to, a, to, in, of  
2. a, of, are. to, to, in  
3. a, are, of, to, to, in<img class="size-medium wp-image-368 alignright" src="https://andrew9.com/wp-content/uploads/2017/06/Rihanna-300x175.png" alt="" width="300" height="175" srcset="https://andrew9.com/wp-content/uploads/2017/06/Rihanna-300x175.png 300w, https://andrew9.com/wp-content/uploads/2017/06/Rihanna.png 648w" sizes="(max-width: 300px) 100vw, 300px" />  
4. a, in, are, to, to, of  
5. of, are, in, to, a, to  
<!--more-->

<div class="pdfprnt-buttons pdfprnt-buttons-post pdfprnt-bottom-left">
  <a href="http://?print=pdf" class="pdfprnt-button pdfprnt-button-pdf" target="_blank"><img src="https://andrew9.com/wp-content/plugins/pdf-print/images/pdf.png" alt="image_pdf" title="View PDF" /></a><a href="http://?print=print" class="pdfprnt-button pdfprnt-button-print" target="_blank"><img src="https://andrew9.com/wp-content/plugins/pdf-print/images/print.png" alt="image_print" title="Print Content" /></a>
</div>