---
id: 723
title: Rocket Man
date: 2017-09-22T10:43:11+11:00
author: Andrew McKean
layout: post
guid: https://andrew9.com/?p=723
permalink: /rocket-man/
enclosure:
  - |
    https://andrew9.com/wp-content/uploads/2017/09/Elton-John-Rocket-Man.mp3
    11288169
    audio/mpeg
    
categories:
  - Learn English
---
### **Rocket Man**

Rocket Man (Kim Jong-un) is on a suicide mission. The US president warns North Korea will be &#8220;totally destroyed&#8221; if America is forced to defend itself.

&#8220;Rocket Man&#8221;, is a song composed by Elton John and Bernie Taupin

<img class="size-medium wp-image-724 alignright" src="https://andrew9.com/wp-content/uploads/2017/09/rocket-man-300x166.png" alt="" width="300" height="166" srcset="https://andrew9.com/wp-content/uploads/2017/09/rocket-man-300x166.png 300w, https://andrew9.com/wp-content/uploads/2017/09/rocket-man.png 521w" sizes="(max-width: 300px) 100vw, 300px" /> 

and originally performed by Elton John. The song first appeared on Elton John&#8217;s 1972 album Honky Château and became a hit single, rising to No. 2 in the UK and No. 6 in the US.

You can listen to the song here:

<!--[if lt IE 9]><![endif]--><audio class="wp-audio-shortcode" id="audio-723-1" preload="none" style="width: 100%;" controls="controls"><source type="audio/mpeg" src="https://andrew9.com/wp-content/uploads/2017/09/Elton-John-Rocket-Man.mp3?_=1" />

<https://andrew9.com/wp-content/uploads/2017/09/Elton-John-Rocket-Man.mp3></audio> 

<div class="pdfprnt-buttons pdfprnt-buttons-post pdfprnt-bottom-left">
  <a href="http://?print=pdf" class="pdfprnt-button pdfprnt-button-pdf" target="_blank"><img src="https://andrew9.com/wp-content/plugins/pdf-print/images/pdf.png" alt="image_pdf" title="View PDF" /></a><a href="http://?print=print" class="pdfprnt-button pdfprnt-button-print" target="_blank"><img src="https://andrew9.com/wp-content/plugins/pdf-print/images/print.png" alt="image_print" title="Print Content" /></a>
</div>