---
id: 527
title: The Waves by Virginia Woolf.
date: 2017-07-15T00:54:26+11:00
author: Andrew McKean
layout: post
guid: http://andrew9.com/?p=527
permalink: /waves-virginia-woolf/
categories:
  - Learn English
---
### **The Waves by Virginia Woolf.**

The Waves is a 1931 novel by Virginia Woolf. It is considered her most experimental work, and consists of soliloquies spoken by the book&#8217;s six characters: Bernard, Susan, Rhoda, Neville, Jinny, and Louis. Also important is Percival, the seventh character, though readers never hear him speak in his own voice. The soliloquies that span the characters&#8217; lives are broken up by nine brief third-person interludes detailing a coastal scene at varying stages in a day from sunrise to sunset.

[Download a PDF of The Waves by Virginia Woolf.](https://andrew9.com/wp-content/uploads/2017/07/The-Waves-Virginia-Woolf.pdf)

<img class="alignnone size-medium wp-image-531" src="https://andrew9.com/wp-content/uploads/2017/07/waves-300x172.png" alt="" width="300" height="172" srcset="https://andrew9.com/wp-content/uploads/2017/07/waves-300x172.png 300w, https://andrew9.com/wp-content/uploads/2017/07/waves.png 549w" sizes="(max-width: 300px) 100vw, 300px" /> 

<!--more-->

<div class="pdfprnt-buttons pdfprnt-buttons-post pdfprnt-bottom-left">
  <a href="http://?print=pdf" class="pdfprnt-button pdfprnt-button-pdf" target="_blank"><img src="https://andrew9.com/wp-content/plugins/pdf-print/images/pdf.png" alt="image_pdf" title="View PDF" /></a><a href="http://?print=print" class="pdfprnt-button pdfprnt-button-print" target="_blank"><img src="https://andrew9.com/wp-content/plugins/pdf-print/images/print.png" alt="image_print" title="Print Content" /></a>
</div>