---
id: 573
title: The World English Bible
date: 2017-07-24T23:45:52+11:00
author: Andrew McKean
layout: post
guid: http://andrew9.com/?p=573
permalink: /world-english-bible/
categories:
  - Learn English
---
### **The Bible**

[Download the Bible](https://andrew9.com/wp-content/uploads/2017/07/eng-web_a4.pdf)

Bible translators (especially in English) generally are some of the most careful formal users of the language; it is very rare to find any errors or usages that could have been considered dubious at the time. So you won&#8217;t be led astray by careless writers.

The Bible, especially the King James Version (KJV), has shaped English culture and language for centuries in profound ways. Many idioms and patterns have become popular based on that, so in a real way, you&#8217;d be learning the basics of how the language developed.<!--more-->

However The KJV is old. It&#8217;s been four centuries since it was first written, and the revisions since then have mostly been relatively minor. So the language it uses has been kind of left behind. In particular, some very basic things like personal pronouns have been radically changed since it was written.

The New King James Version, however, keeps nearly all of the cultural artefacts of the KJV — the turns of phrase, terminology, and rhythms — while updating the rest to fit modern English patterns better.

As long as you keep two things in mind, you should be able to learn a good deal from it:

1. The formality of the Bible. This isn&#8217;t exactly the sort of language used at the beach or the mall.

2. One of the hallmarks of great literature is that you gain a lot from re-reading. Don&#8217;t expect to get it all on the first read through, by any means.

On our website you will find a free, downloadable version of the World English Bible.

<div class="pdfprnt-buttons pdfprnt-buttons-post pdfprnt-bottom-left">
  <a href="http://?print=pdf" class="pdfprnt-button pdfprnt-button-pdf" target="_blank"><img src="https://andrew9.com/wp-content/plugins/pdf-print/images/pdf.png" alt="image_pdf" title="View PDF" /></a><a href="http://?print=print" class="pdfprnt-button pdfprnt-button-print" target="_blank"><img src="https://andrew9.com/wp-content/plugins/pdf-print/images/print.png" alt="image_print" title="Print Content" /></a>
</div>